<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - The Arcanaeum</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Fondamento:400italic,400' rel='stylesheet' type='text/css'>
		<link href="/css/reader.css" rel="stylesheet">
	</head>

	<body>
		{{ content }}

	</body>
</html>

